.popup-mask {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 996;
}

.popup-window {
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
